<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-SCHOOL404 - À propos</title>
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <header>
      <h1>À propos de ART'404</h1>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/about">À propos</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main class="error">
      <section class="error">
        <h2>Notre mission ?</h2>
        <p>
          À ART'404, notre mission est de fournir une éducation de qualité qui
          prépare les étudiants à réussir dans la vie.
        </p>
      </section>
      <section class="error">
        <h2>Nos campus ?</h2>
        <h4><strong>Paris</strong></h4>
        <p>
          Le campus de Paris est situé au cœur de la ville, offrant un accès
          facile aux ressources culturelles et professionnelles.
        </p>
        <h4><strong>Lyon</strong></h4>
        <p>
          Le campus de Lyon est réputé pour son ambiance chaleureuse et son
          environnement propice à l'apprentissage.
        </p>
        <h4><strong>Marseille</strong></h4>
        <p>
          Situé près de la mer Méditerranée, le campus de Marseille offre une
          vue imprenable et des installations modernes.
        </p>
        <h4><strong>Bordeaux</strong></h4>
        <p>
          Le campus de Bordeaux se distingue par son architecture historique et
          son dynamisme académique.
        </p>
        <h4><strong>Toulouse</strong></h4>
        <p>
          Le campus de Toulouse est reconnu pour ses programmes innovants et son
          fort accent sur la recherche et le développement.
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 ART'404. Tous droits réservés.</p>
    </footer>
  </body>
</html>
